@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@400;700&display=swap');

*{
    font-family: 'Overpass', sans-serif;
}
body{
    background-color: hsl(216, 12%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    background-color: hsl(213, 19%, 18%);
    width: 375px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 180px 70px 180px 20px;
    border-radius: 20px;
}

.star{
    background-color: hsl(213, 20%, 20%);
    padding: 15px 15px 10px 15px;
    margin-bottom: 20px;
    width: min-content;
    border-radius: 50%;

}


.title{
    color: white;
    font-size: 170%;
    margin-bottom: 20px;
}

.text{
    color: hsl(217, 12%, 63%);
    line-height: 150%;
    font-size: 110%;
    margin-bottom: 30px;
}

.rating{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating-btns{
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 20%, 20%);
    border-radius: 100%;
    border: none;
    font-size: 105%;
    padding: 15px 20px 10px 20px;

}

.submit-btn{
    background-color: hsl(25, 97%, 53%);
    color: white;
    border-radius: 40px;
    padding: 20px; /* padding: 10px 5px 10px 5px:  superior | direita | inferior | esquerda*/
    width:100%;
    font-size: 110%;
    margin-top: 30px;
    border: none;

}



/* DÚVIDAS

O border-radius do .main esta torto 
o border radius do submit ta horrivel
*/