@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Overpass:wght@400;700&display=swap');

*{
    font-family: 'Overpass', sans-serif;
}
body{
    background-color: rgb(0, 0, 0);
}

.main{
    background-color: hsl(216, 12%, 8%);
}

.title{
    color: white;
}

.text{
    color: hsl(217, 12%, 63%);
}

.rating-btns{
    color: hsl(217, 12%, 63%);
}